.Login{
    margin: 20px auto;
   
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid rgb(246,112,68);
    box-sizing: border-box;
    width: 50%;
    height: 432px;
    margin-top: 173px;
    padding: 20px;
    padding-top: 130px;
    border-radius: 4px;
    
}




@media (min-width:600px){
    .Login{
        width: 352px;
    }
}